<div class="container-fluid full-height">
  <div class="row full-height">
    <div class="col-8 no-padding">
      <div *ngIf="flights; else noFlightData" class="full-height">
        <app-map [flights]="flights" [selectedDrone]="selectedDrone"></app-map>
      </div>
    </div>
    <div class="col-4 no-padding">
        <div *ngIf="flights; else noFlightData" class="full-height">
          <app-flight-selection-window [flights]="flights" (selectedDroneChange)="selectedDroneChange($event)"></app-flight-selection-window>
        </div>
    </div>
  </div>
</div>

<ng-template #noFlightData class="full-height">
  No Flight data available
</ng-template>
